---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<Layout title="Welcome to Astro.">
  <div class="bg-peach text-center pt-[80px] px-[24px]">
    <h1 class="text-[32px] font-medium text-white pb-[14px]">
      Award-winning custom designs and digital branding solutions
    </h1>
    <Text
      color="white"
      text="With over 10 years in the industry, we are experienced in creating fully responsive websites, apps, and engaging brand experiences. Find out more about our services."
    />
    <button
      class="bg-white rounded-lg px-6 py-4 text-darkGrey text-[15px] font-regular mt-6"
      >LEARN MORE</button
    >
    <div class="h-[451px]">
      <img src="img/image-hero-phone.png" class="mt-[100px] scale-150" />
    </div>
  </div>
</Layout>
