---
import NavBarItem from "./NavbarItem.astro";
import { HamburgerMenu } from "./HamburgerMenu";
---

<nav class="py-[34px] px-4 bg-white box-border">
  <ul class="flex gap-10">
    <li>
      <a href="/">
        <img src="/img/logo-dark.png" height="27" width="202" alt="app-logo" />
      </a>
    </li>
    <NavBarItem href="/" title="OUR COMPANY" marginLeft />
    <NavBarItem href="/" title="LOCATIONS" />
    <NavBarItem href="/" title="CONTACT" />
    <HamburgerMenu client:load />
  </ul>
</nav>
