---
import { cva } from "class-variance-authority";
export interface Props {
  text: string;
  color?: "white";
}

const HeadingStyles = cva("font-regular text-base", {
  variants: {
    color: {
      white: "text-white",
    },
  },
});

const { text, color } = Astro.props;
---

<h1 class={HeadingStyles({ color })}>{text}</h1>
